[0] Иван Иванов 400 ivan@mail.com
[1] Пётр Петров 900 petr@gigamail.ru
Количество не оповещённых должников на 2019/12/1 : 2
[0] Иван Иванов 400 ivan@mail.com
Количество не оповещённых должников на 2019/9/20 : 1
Выполнение завершено успешно
